*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style-type: none;
    text-decoration: none;
}

.logo img{
    width: 150px;
}

.logo{
    margin: 20px 10px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-container{
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.281); */
    color: yellow;
    width: 60%;
    padding: 20px 0;
    position: absolute;
    left: 15%;
    top: 50%;
    
}

ul li{
    display: inline-block;
}

.container-flex{
    background-image: linear-gradient(rgba(10, 7, 7, 0.651),
     rgba(27, 2, 2, 0.5)),url(./images/image03.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 100vh;
    background-position: center;
    /* opacity: -4px; */
}

li a{
    padding: 30px 20px;
    color: white;
    font-weight: bold;
    padding-bottom: 4px;
}

ul{
    /* background-color: rgba(0, 0, 0, 0.301); */
    padding: 15px 10px;
    line-height: 50px;
}

.hero-container h1{
    font-size: 45px;
    font-family: cursive fantasy;
    color: white;
    font-weight: bold;   
}

.hero-container p{
    font-size: 25px;
    font-family: cursive fantasy;
}

li a:hover{
    border-bottom: 2px rgb(42, 248, 42) solid;
    color: rgb(42, 248, 42);
    border-radius: 6px;
}

.button{
    margin-top: 20px;
}

.btn{
    padding: 10px 30px;
    margin-left: 10px;
    border-radius: 4px;
    background-color: rgb(1, 14, 1);
    color: rgb(14, 221, 14);
    font-weight: bold;
    font-size: 20px;
}

.btn:hover{
    /* background-color: white; */
    color: aliceblue;
}

.btn1{
    background-color: rgb(13, 226, 13);
    color: black;
}

.menu-bar{
    color: rgb(253, 253, 253);
    display: none; 
}



@media screen and (max-width:800px) {
    .header{
        flex-direction: column;
    }   

    .logo{
        width: 100%;
    }

    ul li{
        display: block;
        text-align: center;
        
    }

    ul{
        background-color: rgba(0, 0, 0, 0.411);
        width: 100%;
        display: none;
    }

    .container-flex{
        min-height: 120vh;
    }
    .hero-container{
        margin-top: 40px;
        padding-top: 35px;
        width: 100%;
        position: absolute;
        left: 2%;

    }

    .hero-container h1{
        font-size: 25px;
        padding-bottom: 20px;
    }

    li a:hover{
        border: none;

    }

    .hero-container p{
        font-size: 18px;
    }

    .menu-bar{
        display: block;
        position: absolute;
        top: 25px;
        right: 10px;
        cursor: pointer;

    }

}

.active{
    display: block;
}
